body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#key {
    position: absolute;
    top: 10px;
    right: 10px;
    border: dotted;
    width: 200px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 8px;
    background-color: lightblue;
    border-radius: 5px;
    margin-bottom: 5px;
}
#content {
    padding: 10px;
    text-align: center;
}
h1 {
    font-size: 58px;
}
#userGuess {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 200px;
}
button {
    padding: 10px 20px;
    background-color: #1e6d2e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #115105;
}
#message{
    font-size: 20px;
}
.green-text{
    color: green;
}
.red-text{
    color: red;
}
.blue-text{
    color: blue;
}
#guesses {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#guesses caption {
    font-weight: bold;
    margin-bottom: 10px;
}
#guesses td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.correct-guess {
    background-color: rgb(196, 250, 196);
}
.incorrect-guess-high {
    background-color: rgb(245, 174, 174);
}
.incorrect-guess-low {
    background-color: rgb(208, 213, 251);
}
